.dataGridWidget {
  
}

.dataGridFirstColumn {
  
}

.dataGridLastColumn {
  
}

.dataGridFooter {
  background-color: #b4d0f8;
  border-top: 1px solid #88b0f2;
  padding: 0px 10px;
  text-align: left;
  color: #4b4a4a;
  text-shadow: #ddf 1px 1px 0;
  white-space: nowrap;
}

.dataGridHeader {
  border-bottom: 1px solid #88b0f2;
  padding: 5px 0px;
  padding-left: 5px;
  text-align: left;
  color: #4b4a4a;
  text-shadow: #ddf 1px 1px 0;
  white-space: nowrap;
}

.dataGridCell {
  padding: 4px 10px;
  cursor: pointer;
  cursor: hand;
  overflow: hidden;
  border: 0;
}

.dataGridFirstColumnFooter {
  border-left: 0px;
}

.dataGridFirstColumnHeader {
  border-left: 0px;
}

.dataGridLastColumnFooter {
  
}

.dataGridLastColumnHeader {
  
}

.dataGridSortableHeader {
  cursor: pointer;
  cursor: hand;
}

.dataGridSortableHeader:hover {
  color: #6c6b6b;
}

.dataGridSortedHeaderAscending {
  
}

.dataGridSortedHeaderDescending {
  
}

.dataGridEvenRow {
  background: #ffffff;
}

.dataGridEvenRowCell {
	white-space: pre;           /* CSS 2.0 */
	white-space: pre-wrap;      /* CSS 2.1 */
	white-space: pre-line;      /* CSS 3.0 */
	white-space: -pre-wrap;     /* Opera 4-6 */
	white-space: -o-pre-wrap;   /* Opera 7 */
	white-space: -moz-pre-wrap; /* Mozilla */
	white-space: -hp-pre-wrap;  /* HP Printers */
	word-wrap: break-word;      /* IE 5+ */
}

.dataGridOddRow {
  background: #eef4fb;
}

.dataGridOddRowCell {
	white-space: pre;           /* CSS 2.0 */
	white-space: pre-wrap;      /* CSS 2.1 */
	white-space: pre-line;      /* CSS 3.0 */
	white-space: -pre-wrap;     /* Opera 4-6 */
	white-space: -o-pre-wrap;   /* Opera 7 */
	white-space: -moz-pre-wrap; /* Mozilla */
	white-space: -hp-pre-wrap;  /* HP Printers */
	word-wrap: break-word;      /* IE 5+ */
}

.dataGridHoveredRow {
  background: transparent;
}

.dataGridHoveredRowCell {
  text-decoration: none;
}

.dataGridKeyboardSelectedRow {

}

.dataGridKeyboardSelectedRowCell {

}

.dataGridSelectedRow {
  /*background: transparent;*/
  color: white;
  height: auto;
  overflow: auto;
}

.dataGridSelectedRowCell {
  /*background: transparent;*/
  text-decoration: none;
  color: #4b4a4a;
}

.dataGridKeyboardSelectedCell {
  /*background: transparent;*/
  text-decoration: none;
  color: #4b4a4a;
}