@CHARSET "ISO-8859-1";

.gwt-HTML-basePanelName {
	background-color: #4f81bd;
	font-weight: bold;
	font-size: 12pt;
	font-family: "Lucida Grande", Tahoma, Verdana, Arial, Sans-serif;
	color: white;
	padding-left:3em;
	padding-top:8px;
}

.commandDetailHeader {
	font-size: 12pt;
	font-weight: bold;
	vertical-align: top;
	text-align: left;
}
.commandDetailText {
	font-size: 10pt;
	vertical-align: top;
	text-align: left;
	color: #545454;
}
.commandDetailText:hover {
	color: black;
}

.clickableTextCellEffect {
	text-decoration: none;
}

.clickableTextCellEffect:hover {
	text-decoration: underline;
}

.clickableTextCellEffect:active {
	text-decoration: underline;
}

.lineBreakStyle {
	white-space: pre;           /* CSS 2.0 */
	white-space: pre-wrap;      /* CSS 2.1 */
	white-space: pre-line;      /* CSS 3.0 */
	white-space: -pre-wrap;     /* Opera 4-6 */
	white-space: -o-pre-wrap;   /* Opera 7 */
	white-space: -moz-pre-wrap; /* Mozilla */
	white-space: -hp-pre-wrap;  /* HP Printers */
	word-wrap: break-word;      /* IE 5+ */
}

.gwt-HTML-basePanelUsername {
	background-color: transparent;
	color: white;
	text-align: right;
	padding-right:10px;
}

.gwt-Hyperlink-basePanelEditProfile {
	background-color: transparent;
	color: white;
	text-align: center;
	padding-right:10px;
}

.gwt-HTML-sectionPanel {
	background-color: #A0BBDB;
	font-weight: bold;
	color: white;
	padding-left:1em;
	padding-top:2px;
}

.workspacePanel {
	background-color: rgba(255,255,255,0.5);
	margin-top: -25px;
	padding-top: 25px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
}

.workspacePanelHeader {
	font-weight: bold;
	font-size: 12pt;
	font-family: "Lucida Grande", Tahoma, Verdana, Arial, Sans-serif;
}

.workspacePanelMenuItem {
	font-size: 10pt;
	text-align: top;
	font-family: "Lucida Grande", Tahoma, Verdana, Arial, Sans-serif;
}


.sectionPanel {
}

.sectionPanelHeader {
	background-color: #A0BBDB;
	border: 0;
	color: white;
}

.sectionPanelHeaderButton {
	background-color: #A0BBDB;
	border: 0;
	color: white;
	cursor: pointer;
  	cursor: hand;
}

	
body { 
	background-color: white;
	color: black;
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
	font-size: 11px;
	margin: 0px;
}
	
.panelMenu {
	background-color: #4f81bd;
	font-size: 11pt;
	color: white;
}

.registerButton {
	border:0;
	padding:0;
	margin-right:10px;
	align: right;
	color: darkblue;
	margin-top:-50px;
	margin-bottom:5px;
}

@sprite .xbutton {
	gwt-image: "x";
	width:16px;
	height:13px;
	border:0;
	padding:0;
	margin-left:-12px;
	align: left;
}

.xbutton:hover {
	width:16px;
	height:16px;
	background-position: 0 -13px;
}

.xbutton:active {
	background-position: 0 -13px;
}

.xbutton:focus {
	background-position: 0 -13px;
}

@sprite .redo-button {
	gwt-image: "rerun";
	width:16px;
	height:16px;
	border:0;
	padding:0;
	margin-left:-12px;
	align: left;
}

.redo-button:hover {
	background-position: 0 -16px;
}

.redo-button:active {
	background-position: 0 -16px;
}

.redo-button:focus {
	background-position: 0 -16px;
}

@sprite .inspect-button {
	gwt-image: "inspect";
	width:16px;
	height:16px;
	border:0;
	padding:0;
	margin-left:-12px;
	align: left;
}

.inspect-button:hover {
	background-position: 0 -16px;
}

.inspect-button:active {
	background-position: 0 -16px;
}

.inspect-button:focus {
	background-position: 0 -16px;
}

@sprite .more-button {
	gwt-image: "more";
	width:16px;
	height:16px;
	border:0;
	padding:0;
	margin-left:-12px;
	align: left;
}

.more-button:hover {
	background-position: 0 -16px;
}

.more-button:active {
	background-position: 0 -16px;
}

.more-button:focus {
	background-position: 0 -16px;
}



@sprite .baseBackground {
	gwt-image: "skyBackground";	
	background-color: #F0F4F7;
	overflow: auto;
}


@sprite .baseBackground-row {
	gwt-image: "skyBackground";	
	background-color: #F0F4F7;
}
	
@external .gwt-*
.gwt-SimplePanel {
background-color: #e8eef7;
}

.crumbsButton {
	background-color: transparent;
	border: 0;
	color: black;
	cursor: pointer;
  	cursor: hand;
}

.crumbsButton:hover {
	color: blue;
	text-decoration: underline;
}

.browseButton {
	border:0;
	padding:0;
	margin-left:5px;
	align: left;
	background-color: transparent;
	border: 0;
	color: black;
	text-decoration: underline;
	cursor: pointer;
  	cursor: hand;
}

.browseButton:hover {
	color: blue;
	text-decoration: underline;
}

.browseButton:active {
	color: blue;
	text-decoration: underline;
}

.browseButton:focus {
	color: blue;
	text-decoration: underline;
}

.fileBrowserIconText {
	margin-top: 1px; 
	width:100px; 
	height:40px; 
	overflow: hidden; 
	text-overflow:ellipsis; 
	white-space:normal; 
	word-wrap:break-word;
}

.filePathText {
	overflow: hidden; 
	text-overflow:ellipsis; 
	word-wrap:none;
}

.repoTextCell {
	overflow: hidden; 
	text-overflow:ellipsis; 
	word-wrap:none;
	text-align:left;
}

.repoContentIconText {
	margin-top: 1px; 
	width:195px; 
	height:1.5em; 
	overflow: hidden; 
	text-overflow:ellipsis; 
	color: #00A;
	cursor: pointer;
  	cursor: hand;
}
.repoContentIconText:hover {
	text-decoration: underline;
}

.repoContentBrowserActions {
	font-size: 8pt;
	border:0;
	padding:0;
	margin-left:5px;
	align: left;
	background-color: transparent;
	border: 0;
	color: grey;
	text-decoration: none;
}

.repoContentBrowserActions:hover {
	color: white;
	background-color: #4f81bd;
}

.repoContentBrowserActionsActive {
	font-size: 8pt;
	border:0;
	padding:0;
	margin-left:5px;
	align: left;
	background-color: #4f81bd;
	border: 0;
	color: white;
	text-decoration: none;
}

.repoContentMenuPanel {
	font-size: 12pt;
	color: black;
	background-color: #F0F0F0;
	border: 1px solid grey;
	box-shadow: 3px 3px 4px #000;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')"; 
}

.repoContentMenuBar {
	font-size: 8pt;
	color: black;
	background-color: #F0F0F0;
	margin-left: 5px;
	border:0;
}

.repoContentElementName {
	font-size: 8pt;
	color: grey;
}

.repoContentUploadPath {
	width: 200px;
	overflow: hidden; 
	text-overflow:ellipsis; 
	white-space: nowrap;
	color: black;
	background-color: white;
	text-align: right;
}

.commandSearchButton {
	background-color: transparent;
	border: 0;
}

.commandBrowserIconText {
	margin-top: 1px; 
	width:170px; 
	overflow: hidden; 
	text-overflow:ellipsis; 
	white-space:no-wrap; 
	cursor: pointer;
  	cursor: hand;
}

.commandBrowserIconText:hover {
	color: blue; 
	text-decoration: underline;
	cursor: pointer;
  	cursor: hand;
}

.commandBrowserVersionText {
	margin-top: 1px; 
	width:170px; 
	overflow: hidden; 
	text-overflow:ellipsis; 
	white-space:no-wrap;
	font-style: italic; 
	font-size: 8pt;
	color: grey;
	cursor: pointer;
  	cursor: hand;
  	padding-bottom: 16px;
}

.commandBrowserVersionText:hover { 
	text-decoration: underline;
	cursor: pointer;
  	cursor: hand;
}

.newCommandButton {
	border:0;
	padding:0;
	background-color: transparent;
	color: blue;
	text-decoration: underline;
	cursor: pointer;
  	cursor: hand;
}
