a img {
	border: none;
}

/* toolbar */

.toolbar {
	background-color: #090a0b;
	padding: 5px;
}

.toolbar-inner {
	display: block;
	max-width: 1000px;
	margin: 0 auto;
	padding-right: 10px;
	
	font-size: 18px;
	font-style: italic;
	color: #939393;
}

.toolbar-logo {
	margin: -8px 0 -16px;
}

.toolbar-search {
	margin-top: 1px;
	float: right;
}

.toolbar-search-input-decorator {
	padding: 5px;
	padding-top: 0px;
	background-color: white;
}

.toolbar-blurred {
	color: #aaaaaa;
}

/* main */

.main {
	background-color: #eef2f5;
	
	vertical-align:middle;
}

.cards {
	vertical-align:middle;
	text-align: center;
	max-width: 1300px;
	margin: 0 auto;
	padding-top: 20px;
}

.list {
	display: none;
}

/* */

.name {
	font-weight: bold;
	font-size: 15px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.owner {
	display: inline-block;
	font-size: 14px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.links {
	display: inline-block;
}

.links > * {
	padding-left: 10px;
}

.icon-holder {
	text-align: center;
	/*padding-top: 16px; */
	background-color: white;
}

.icon {
	width: 90px;
	height: 70px;
}

.blurb {
	padding: 18px 0 20px; 
	font-size: 14px;
	font-style: italic;
}

/* ListItem */

.listitem {
	height: 50px;
	padding: 10px;
	border-bottom: 1px solid #ddd;
}

.listitem:active {
	background-color: #cde7fe;
	box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.2);
}

/* Card */

.card {
	display: inline-block;
	overflow: hidden;
	width: 110px;
	height: 90px;
	margin: 16px;
	padding: 15px;
	text-align: center;
	font-size: 16px;
	/*background-color: white; */
}

.card-topbar {
	background-color: rgb(200,210,220);
	padding: 10px;
	color: #5A5A5A;
}

.card.onyx-selected  {
	background-color: transparent;
	border-radius: 30px;
	box-shadow: 0px 6px 12px rgba(0,0,0,0.3);
}

.card-empty {
	box-shadow: none;
	height: 0;
}

/* Details */

.details {
	position: absolute;
	z-index: 10;
	border-radius: 16px;
	background-color: white;
	font-size: 14px;
}

.details-header {
	padding: 22px 48px 16px;
	border-bottom: 1px solid #eee;
}

.details-buttons {
	text-align: center;
	padding: 32px 0 16px;
}

.details-buttons .onyx-button {
	font-size: 14px;
	margin: 4px 16px;
	width: 120px;
}

.details-scroller {
	padding-bottom: 10px;
}

.details-scroller-content {
	padding: 0px 48px 22px;
}

.details-close {
	position: absolute;
	top: 16px;
	right: 16px;
	z-index: 1;
}

.details .name {
	font-size: 24px;
	padding-bottom: 4px;
}

.details .icon {
	width: auto;
	height: auto;
	max-height: 200px;
	max-width: 200px;
}

/* Field */

.field {
	padding: 16px 0;
}

.field-name {
	font-size: 16px;
	font-weight: bold;
}

.field-value {
	padding-top: 4px;
	font-size: 14px;
	font-style: italic;
}

/* */

/*
@media (max-width: 600px) {
	.cards {
		display: none;
	}

	.list {
		display: block;
	}
	
	.toolbar-search {
		display: none;
	}
	
	.details-scroller-content {
		padding: 6px 16px;
	}
}
*/

/* IE8 border hack */
@media \0screen {
	.card {
		border: 1px solid rgb(234, 234, 234);
	}
}

