<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>  
     <servlet-name>n3phele</servlet-name>  
      <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>   
      <init-param>  
      <param-name>com.sun.jersey.config.property.packages</param-name>  
      <param-value>n3phele.service.rest.impl;n3phele.service.core</param-value>  
      </init-param> 
      <init-param> 
      <param-name>com.sun.jersey.spi.container.ContainerRequestFilters</param-name>  
      <param-value>n3phele.service.rest.impl.BasicSecurityFilter</param-value> 
      </init-param>
      <init-param> 
      <param-name>com.sun.jersey.spi.container.ResourceFilters</param-name>  
      <param-value>com.sun.jersey.api.container.filter.RolesAllowedResourceFilterFactory</param-value>    
      </init-param>   
      <load-on-startup>1</load-on-startup>  
   </servlet>  
   <servlet-mapping>  
     <servlet-name>n3phele</servlet-name>  
     <url-pattern>/resources/*</url-pattern>  
   </servlet-mapping>
   <servlet-mapping>  
     <servlet-name>n3phele</servlet-name>  
     <url-pattern>/admin/*</url-pattern>  
   </servlet-mapping>
   
   <security-constraint>         
     <web-resource-collection>    
	  <web-resource-name>InternalRequests</web-resource-name>
      <url-pattern>/admin/worker/*</url-pattern>
    </web-resource-collection>                        
    <auth-constraint>             
      <role-name>admin</role-name>         
    </auth-constraint>    
   </security-constraint>
	
	  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>N3phele.html</welcome-file>
  </welcome-file-list>
</web-app>
